[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true


[packages]
fastapi = "0.128.0"
uvicorn = {version = "*", index = "aliyun"}
motor = "*"
qiniu = "*"
redis = {extras = ["hiredis"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
